/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,600');

/* General Styles */

body {
    padding: 0px;
    margin: 0px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #1b1b1b;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', 'Anton', 'DIN Condenesed', sans-serif;
}

a {
    color: #de2910;
    
    text-decoration: none;
    
    transition: .2s;
}

a:hover {
    color: #bb2910;
    
    cursor: pointer;
    
    text-decoration: underline;
}

ul {
    list-style: square;
}

/* Buttons */
.cta-button {
    display: inline-block;
    
    margin-top: 10px;
    padding: 20px;
    
    font-size: 130%;
    color: white;
    
    background-color: #de2910;
    
    transition: .3s;
}

.cta-button:hover, .cta-button:active {
    cursor: pointer;
    
    background-color: white;
    
    color: #de2910;
    text-decoration: none;
    
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.37);
}


/* Section Elements */
.section-title {
    margin: 0px;
    
    font-size: 400%;
}

.section-title span {
    font-family: sans-serif;
    font-size: 55%;
    
    color: #4b4b4b;
}

.divider {
    margin-top: 5px;
    margin-bottom: 5px;
    
    width: 80px;
    height: 5px;
    
    background-color: #1b1b1b;
}

.section-content {
    font-size: 110%;
    text-align: justify;
}

.section-img {
    width: 100%;
    
    border-radius: 10px;
    
}

/* Hero */
#hero {
    margin: 0;
    margin-bottom: 20px;
    padding: 50px;
    padding-top: 100px;
    
    width: 100%;
    min-height: 650px;
    
    background-image: url('../img/hero-bg.png');
    background-size: cover;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: color;
    
    color: white;
}

#hero .hero-flag {
    width: 125px;
    
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.37);
}

#hero h1 {
    font-size: 400%; 
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.37);
}

#hero h1 span {
    color: #de2910;
}

#hero .divider {
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 80px;
    height: 5px;
    
    background-color: white;
    
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.37);
}

#hero .hero-lead {
    font-size: 140%;
}

/* History */

#history {
     padding: 30px 0;
     margin-bottom: 20px;
}

/* Government */

#government {
     padding: 30px 0;
     margin-bottom: 20px;
}

/* Retro */

#retro {
    padding: 30px 0;
    margin-bottom: 20px; 
}

/* Geography */

#geography {
    padding: 30px 0;
    margin-bottom: 20px; 
}

#geography .section-title {
    font-size: 340%;
}

/* Great Wall */

#wall {
    padding: 30px 0;
    margin-bottom: 20px; 
}

/* Footer */

#footer {
    padding: 30px 0;
    
    background-color: #1b1b1b;
    
    color: white;
}



.vr-square {
    width: 100%;
}
